################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/onionSA/.vs
/onionSA/bin/Debug/net8.0/onionSA.dll
/onionSA/bin/Debug/net8.0/onionSA.exe
/onionSA/bin/Debug/net8.0/onionSA.pdb
/onionSA/obj/Debug/net8.0/ref/onionSA.dll
/onionSA/obj/Debug/net8.0/refint/onionSA.dll
/onionSA/obj/Debug/net8.0/apphost.exe
/onionSA/obj/Debug/net8.0/onionSA.AssemblyInfo.cs
/onionSA/obj/Debug/net8.0/onionSA.AssemblyInfoInputs.cache
/onionSA/obj/Debug/net8.0/onionSA.dll
/onionSA/obj/Debug/net8.0/onionSA.pdb
/onionSA/obj/Debug/net8.0/onionSA.sourcelink.json
